<html>
  <head>
      <title>Text Me!</title>
    </head>
    <body>
      <h1>Text Me!</h1>
      <h2>Enter number you want to text <%= @the_number %>
        <form action="http://www.html.am/html-codes/textboxes/submitted.cfm">
<textarea name="myTextBox" cols="50" rows="1">
Enter a Phone Number...
</textarea>
<br />
<input type="submit" />
</form>
      <body>
        <html>
